:root {
  --red: #e83656ff;
  --titles: #4d4d4dff;
  --turquoise: #62cfd3ff;
  --gainsboro: #dbd9d9ff;
  --khaki: #c8be68ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #151111;
}
body {
  /* font-family: 'Inter', sans-serif;
  font-family: 'Kaushan Script', cursive; */
  font-family: 'Roboto Slab', serif;
  background-color: var(--gainsboro);
  max-width: 1300px;
  margin: auto;
}

.name {
  color: var(--titles);
  font-size: 40px;
  font-weight: 700;
}

.position {
  color: var(--titles);
  font-size: 18px;
  font-weight: 700;
}
/* header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5%;
} */

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
}

.navbar {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: flex-start;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--titles);
  font-size: 1.3rem;
  padding: 3.2rem 3rem;
  display: block;
  text-align: center;
}

.navbar-links li a:hover {
  font-size: 1.5rem;
  color: var(--turquoise);
}

.toggle-button {
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: var(--titles);
  border-radius: 10px;
}
/* This is an ID selector */
#profile-pic {
  width: 80%;
  border-radius: 50%;
  margin: 15% 10%;
}
.page-left {
  width: 40%;
}
.page-right {
  width: 60%;
}

.h1-main {
  font-size: 7rem;
  color: var(--titles);
}

.h2-main {
  font-size: 4rem;
  color: var(--titles);
}

.main-links {
  height: 12rem;
  width: 80%;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.resume-link {
  background-color: var(--red);
  height: 140px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}
.myWork-link {
  background-color: var(--turquoise);
  height: 140px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}
.mySkill-link {
  background-color: var(--khaki);
  height: 140px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}

.main-paragraph {
  color: var(--titles);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 90%;
  display: block;
  margin-top: 10px;
}

footer {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--red);
  color: whitesmoke;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 10px;
}

.icon {
  width: 50px;
  list-style-type: none;
}

.icon-img {
  width: 50%;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 960px) {
  .resume-link {
    height: 90px;
    width: 90px;
  }
  .myWork-link {
    height: 90px;
    width: 90px;
  }
  .mySkill-link {
    height: 90px;
    width: 90px;
  }
}

@media (max-width: 700px) {
  body {
    width: 100vw;
    height: auto;
  }
  .logo {
    display: block;
    width: 100%;
  }
  .name {
    font-size: 26px;
    font-weight: 700;
    margin-left: 1rem;
  }

  .position {
    margin-left: 1rem;
    font-size: 12px;
    font-weight: 700;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.7rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  main {
    flex-direction: column;
  }

  .page-left {
    width: 80%;
  }
  .page-right {
    width: 80%;
  }

  #profile-pic {
    width: 80%;
  }

  .h1-main {
    text-align: center;
    font-size: 4rem;
  }

  .h2-main {
    text-align: center;
    font-size: 2rem;
  }

  .main-links {
    height: 12rem;
    width: 80%;
    margin: auto;
  }

  .resume-link {
    height: 80px;
    width: 80px;
    font-size: 1rem;
  }

  .mySkill-link {
    height: 80px;
    width: 80px;
    font-size: 1rem;
  }

  .myWork-link {
    height: 80px;
    width: 80px;
    font-size: 1rem;
  }

  .main-paragraph {
    width: 100%;
    margin: auto;
  }

  footer {
    height: auto;
    flex-direction: column;
  }

  .footer-column-top {
    margin-top: 1rem;
    text-align: center;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-column-middle {
    margin-top: 1rem;
    text-align: center;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-column-bottom {
    margin-top: 1rem;
    text-align: center;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
